---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Martin Pilaszek - Developer">
    <header class="py-6">
        <h1 class="text-2xl font-light mb-5">
            Hi👋 I'm Martin Pilaszek, a front-end developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences.
        </h1>
        <h2 class="text-lg font-light text-gray-400 mb-6">
            Bellow you can see some of my personal projects and my experience, let's work together!
        </h2>
        <a href="/profile" class="underline text-gray-300">About me</a>
    </header>
    <section class="mt-16 mb-4">
        <h2 class="text-lg mb-5">Experience and projects</h2>
        <div class="md:hidden flex flex-col gap-4">
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/kimple">
                <img class="object-cover w-full h-full" src="/kimple.png" alt="Colors">
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/rate-your-play">
                <img class="object-cover rounded-md w-full h-full" src="/ryp1.png" alt="Rate your play">
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/trello-clone">
                <img class="object-cover w-full h-full" src="/trello.png" alt="Trello clone" >
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/colors">
                <img class="object-cover rounded-md w-full h-full" src="/colors.png" alt="Colors">
            </a>
        </div>

        <div class="w-full hidden md:grid projects-grid gap-4 mb-4">
            <a class="div1 h-52 rounded-md overflow-hidden" href="/projects/kimple">
                <img class="object-cover w-full h-full" src="/kimple.png" alt="Colors">
            </a>
            <a class="div2 h-52 rounded-md overflow-hidden" href="/projects/rate-your-play">
                <img class="object-cover rounded-md w-full h-full" src="/ryp1.png" alt="Rate your play">
            </a>
            <a class="div3 h-36 rounded-md overflow-hidden" href="/projects/trello-clone">
                <img class="object-cover w-full h-full" src="/trello.png" alt="Trello clone" >
            </a>
            <a class="div4 h-36 rounded-md ovreflow-hidden" href="/projects/colors">
                <img class="object-cover rounded-md w-full h-full" src="/colors.png" alt="Colors">
            </a>
        </div>
    </section>
</Layout>

<style scoped>
.projects-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.div1 { grid-area: 1 / 1 / 4 / 5; }
.div2 { grid-area: 1 / 5 / 4 / 8; }
.div3 { grid-area: 4 / 1 / 7 / 4; }
.div4 { grid-area: 4 / 4 / 7 / 8; }
</style>