---
import Layout from '../layouts/Layout.astro';
import Button from "../components/Button.astro"
---

<Layout title="Martin Pilaszek - Developer">
    <div class="invisible absolute top-0" id="home"></div>

    <header class="py-3 pt-6">
        <h1 class="text-2xl font-light">
            Hi👋 I'm Martin Pilaszek, a web developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences.
        </h1>
        <h2 class="text-lg font-light text-gray-400">
            Bellow you can see some of my personal projects and my experience, let's work together!
        </h2>
    </header>
    <section class="mt-16 mb-4">
        <h1 class="text-2xl mb-5">Experience and projects</h1>
        <div class="md:hidden flex flex-col gap-4">
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/kimple">
                <img class="object-cover w-full h-full" src="/kimple.png" alt="Colors">
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/rate-your-play">
                <img class="object-cover rounded-md w-full h-full" src="/ryp1.png" alt="Rate your play">
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/trello-clone">
                <img class="object-cover w-full h-full" src="/trello.png" alt="Trello clone" >
            </a>
            <a class="w-full h-32 block rounded-md overflow-hidden" href="/projects/colors">
                <img class="object-cover rounded-md w-full h-full" src="/colors.png" alt="Colors">
            </a>
        </div>

        <div class="w-full hidden md:grid projects-grid gap-4 mb-4">
            <a class="div1 shadow-xl h-52 rounded-md overflow-hidden" href="/projects/kimple">
                <img class="object-cover w-full h-full" src="/kimple.png" alt="Colors">
            </a>
            <a class="div2 shadow-xl h-52 rounded-md overflow-hidden" href="/projects/rate-your-play">
                <img class="object-cover rounded-md w-full h-full" src="/ryp1.png" alt="Rate your play">
            </a>
            <a class="div3 shadow-xl h-36 rounded-md overflow-hidden" href="/projects/trello-clone">
                <img class="object-cover w-full h-full" src="/trello.png" alt="Trello clone" >
            </a>
            <a class="div4 shadow-xl h-36 rounded-md ovreflow-hidden" href="/projects/colors">
                <img class="object-cover rounded-md w-full h-full" src="/colors.png" alt="Colors">
            </a>
        </div>
    </section>
    
    <section class="mb-12 mt-12" id="aboutme">
        <h2 class="text-2xl mb-4">About me</h2>
        <p class="font-light text-gray-400">
            I'm a developer with +2 years of experience, focused on front-end, based in Rosario, a city of Santa Fe, Argentina. I started in development learning by myself. I love creating fancy applications giving attention to design details, and building dynamic interfaces.
        </p>
    </section>
    <section class="mb-12">
        <h2 class="text-2xl mb-4">Experience</h2>
        <article class="mb-4">
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Kimple</h3>
                <span class="text-sm text-gray-400">(dec 2021 - current)</span>
            </div>
            <p class="text-gray-400">
                In charge of maintaining the website, bugs resolving, branching model, integrating new features, libraries management, and lead projects architecture as the only front-end developer on the team. Working with Vue, Nuxt, vanilla javascript and SCSS.
            </p>
        </article>
        <article>
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Alkemy</h3>
                <span class="text-sm text-gray-400">(sep 2021 - nov 2021)</span>
            </div>
            <p class="text-gray-400">
                Developers training that simulates a real work environment for the purpose of promote trainees to a junior level. Worked in a front-end project with React, including libraries management, GIT, Jira board and agile methodologies like SCRUM.
            </p>
        </article>
    </section>
    <section class="mb-12">
        <h2 class="text-2xl mb-4">Education</h2>
        <article class="mb-4">
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Universidad Tecnológica Nacional</h3>
                <span class="text-sm text-gray-400">(mar 2022 - current)</span>
            </div>
            <p class="text-gray-400">Information Systems Engineering</p>
        </article>
        <article>
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">EETP N625 Carlos Guido Spano</h3>
                <span class="text-sm text-gray-400">(mar 2015 - mar 2021)</span>
            </div>
            <p class="text-gray-400">Multimedia design and communication techinician</p>
        </article>
    </section>
    <section class="mb-12" id="contactme">
        <h2 class="text-2xl mb-4">Contact me</h2>
        <div class="flex flex-row items-center gap-4">
            <a class="flex text-gray-400" href="mailto:martinpilaszek@gmail.com">
                <Button>
                    Email
                </Button>
            </a>
            <a class="flex text-gray-400" target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/martinpilaszek/">
                <Button>
                    LinkedIn
                </Button>
            </a>
            <a class="flex text-gray-400" target="_blank" rel="noreferrer noopener" href="https://github.com/mapszk">
                <Button>
                    GitHub
                </Button>
            </a>
        </div>
    </section>
</Layout>

<style scoped>
.projects-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.div1 { grid-area: 1 / 1 / 4 / 5; }
.div2 { grid-area: 1 / 5 / 4 / 8; }
.div3 { grid-area: 4 / 1 / 7 / 4; }
.div4 { grid-area: 4 / 4 / 7 / 8; }
</style>