---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Martin Pilaszek - Developer">
    <header class="py-6">
        <h1 class="text-2xl font-light mb-5">
            Hi👋 I'm Martin Pilaszek, a front-end developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences.
        </h1>
        <h2 class="text-lg font-light text-gray-400 mb-6">
            Bellow you can see some of my personal projects and my experience, let's work together!
        </h2>
        <a href="/profile">About me</a>
    </header>
    <section class="mt-16">
        <h2 class="text-lg mb-5">Experience and projects</h2>
        <div class="grid grid-cols-2 md:grid-cols-5 auto-rows-max w-full gap-4">
            <div class="col-span-2 h-52 md:col-span-3 rounded-md bg-slate-500 overflow-hidden">
                <img class="object-cover w-full h-full" src="/kimple.avif" alt="Colors">
            </div>
            <div class="h-32 md:h-52 md:col-span-2 rounded-md bg-slate-500 overflow-hidden">
            </div>
            <div class="h-32 md:col-span-2 rounded-md bg-slate-500 overflow-hidden">
            </div>
            <div class="col-span-2 h-32 md:col-span-3 rounded-md bg-slate-500 overflow-hidden">
                <img class="object-cover w-full h-full" src="/colors.avif" alt="Colors">
            </div>
        </div>
    </section>
</Layout>
