---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Martin Pilaszek - Developer">
    <header class="py-6">
        <h1 class="text-2xl font-light mb-5">
            Hi👋 I'm Martin Pilaszek, a front-end developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences.
        </h1>
        <h2 class="text-lg font-light text-gray-400 mb-6">
            Bellow you can see some of my personal projects and my experience, let's work together!
        </h2>
        <a href="/profile" class="underline text-gray-300">About me</a>
    </header>
    <section class="mt-16 mb-4">
        <h2 class="text-lg mb-5">Experience and projects</h2>
        <div class="w-full flex gap-4 h-52 mb-4">
            <a class="h-full grow rounded-md overflow-hidden" href="/projects/kimple">
                <img class="object-cover w-full h-full" src="/kimple.png" alt="Colors">
            </a>
            <a class="h-full rounded-md overflow-hidden" href="/projects/trello-clone">
                <img class="object-cover w-full h-full" src="/trello.png" alt="Trello clone" >
            </a>
        </div>
        <a class="w-full h-32 block" href="/projects/colors">
            <img class="object-cover rounded-md w-full h-full" src="/colors.png" alt="Colors">
        </a>
    </section>
</Layout>
