---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Martin Pilaszek - Developer">
    <header class="py-6">
        <h1 class="text-2xl font-light mb-5">
            Hi👋 I'm Martin Pilaszek, a front-end developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences.
        </h1>
        <h2 class="text-lg font-light text-gray-400 mb-6">
            Bellow you can see some of my personal projects and my experience, let's work together!
        </h2>
        <a href="/profile">About me</a>
    </header>
    <section class="mt-16">
        <h2 class="text-lg mb-5">Experience and projects</h2>
        <div class="exp-grid w-full gap-4">
            <div class="md:h-52 rounded-md bg-slate-500 overflow-hidden" id="kimple">
                <img class="object-cover w-full h-full" src="/kimple.avif" alt="Colors">
            </div>
            <div class="h-32 md:h-52 rounded-md bg-slate-500 overflow-hidden" id="colors">
            </div>
            <div class="h-32 md:h-32 rounded-md bg-slate-500 overflow-hidden" id="trello">
                <img class="object-cover w-full h-full" src="/colors.avif" alt="Colors">
            </div>
            <div class="h-32 md:h-32 rounded-md bg-slate-500 overflow-hidden" id="fakestore">
            </div>
        </div>
    </section>
</Layout>

<style scoped>
.exp-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#kimple { grid-area: 1 / 1 / 3 / 3; }
#colors { grid-area: 3 / 1 / 4 / 2; }
#fakestore { grid-area: 3 / 2 / 4 / 3; }
#trello { grid-area: 4 / 1 / 5 / 3; }
@media (min-width: 768px) {
    .exp-grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
    #kimple { grid-area: 1 / 1 / 4 / 4; }
    #trello { grid-area: 4 / 3 / 6 / 6; }
    #fakestore { grid-area: 4 / 1 / 6 / 3; }
    #colors { grid-area: 1 / 4 / 4 / 6; }
}
</style>
