---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Martin Pilaszek - Profile">
    <section class="mb-12">
        <h2 class="text-2xl mb-4">About me</h2>
        <p class="font-light text-gray-400">
            I'm a developer with +2 years of experience based in Rosario, a city of Santa Fe, Argentina. I started in development learning by myself. I love creating fancy applications giving attention to design details, and building dynamic interfaces.
        </p>
    </section>
    <section class="mb-12">
        <h2 class="text-2xl mb-4">Experience</h2>
        <article class="mb-4">
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Kimple</h3>
                <span class="text-sm text-gray-400">(dec 2021 - current)</span>
            </div>
            <p class="text-gray-400">
                In charge of maintaining the website, bugs resolving, branching model, integrating new features, libraries management, and lead projects architecture as the only front-end developer on the team. Working with Vue, Nuxt, vanilla javascript and SCSS.
            </p>
        </article>
        <article>
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Alkemy</h3>
                <span class="text-sm text-gray-400">(sep 2021 - nov 2021)</span>
            </div>
            <p class="text-gray-400">
                Developers training that simulates a real work environment for the purpose of promote trainees to a junior level. Worked in a front-end project with React, including libraries management, GIT, Jira board and agile methodologies like SCRUM.
            </p>
        </article>
    </section>
    <section class="mb-12">
        <h2 class="text-2xl mb-4">Education</h2>
        <article class="mb-4">
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">Universidad Tecnológica Nacional</h3>
                <span class="text-sm text-gray-400">(mar 2022 - current)</span>
            </div>
            <p class="text-gray-400">Information Systems Engineering</p>
        </article>
        <article>
            <div class="flex flex-row items-center mb-3">
                <h3 class="mr-2">EETP N625 Carlos Guido Spano</h3>
                <span class="text-sm text-gray-400">(mar 2015 - mar 2021)</span>
            </div>
            <p class="text-gray-400">Multimedia design and communication techinician</p>
        </article>
    </section>
    <section class="mb-12">
        <h2 class="text-2xl mb-4">Contact me</h2>
        <div class="flex flex-row items-center gap-8">
            <a class="flex text-gray-400 underline" href="mailto:martinpilaszek@gmail.com">
                Email
            </a>
            <a class="flex text-gray-400 underline" target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/martinpilaszek/">
                Linkedin
            </a>
            <a class="flex text-gray-400 underline" target="_blank" rel="noreferrer noopener" href="https://github.com/mapszk">
                Github
            </a>
        </div>
    </section>
</Layout>