<button class="bg-zinc-800 text-white dark:bg-zinc-200 dark:text-black flex items-center justify-center rounded-xl shadow-lg h-10 min-w-24 hover:translate-y-[2px] transition-transform">
    <slot></slot>
</button>