<nav class="text-white shadow-xl bg-zinc-800/60 backdrop-blur-sm rounded-xl py-4 mt-3 mb-8 flex justify-center gap-6 sticky top-3">
    <a href="/#home">Home</a>
    <a href="/#aboutme">About me</a>
    <a href="/#contactme">Contact me</a>
</nav>