---
import ThemeButton from "./ThemeButton.astro";
---

<nav class="justify-center min-[370px]:justify-start dark:text-white shadow-xl bg-zinc-100/60 dark:bg-zinc-800/60 backdrop-blur-sm rounded-xl p-4 mt-3 mb-8 flex items-center gap-0 sticky top-3">
    <a class="p-2 md:px-4 md:py-2 rounded-lg hover:bg-zinc-200/60 dark:hover:bg-zinc-900/60" href="/">Home</a>
    <a class="p-2 md:px-4 md:py-2 rounded-lg hover:bg-zinc-200/60 dark:hover:bg-zinc-900/60" href="/#aboutme">About me</a>
    <a class="p-2 md:px-4 md:py-2 rounded-lg hover:bg-zinc-200/60 dark:hover:bg-zinc-900/60" href="/#contactme">Contact me</a>
    <ThemeButton />
</nav>