---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Martin Pilaszek - Kimple">
    <div class="flex justify-between items-center mb-4">
        <a class="underline text-gray-400" href="/">Back</a>
        <a class="underline text-gray-400" href="https://edukimple.com" target="_blank" rel="noreferrer noopener">Visit</a>
    </div>
    <section class="flex flex-col gap-8">
        <p class="text-gray-400">
            Kimple is a educational platform that provides contents, resources and materials with topical projects to all the teachers and institutions. At Kimple I was part of many projects to improve the platform, one of them is Kimple Krea, a brand new tool provided to the schools for the content creation
        </p>
        <img src="/kimple.png" alt="colors" class="w-full h-64 object-cover">
        <img src="/colors-2.png" alt="colors" class="w-full h-64 object-cover">
    </section>
</Layout>