---
import Tag from "../../components/Tag.astro";
import Button from "../../components/Button.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Martin Pilaszek - Kimple">
    <section class="flex flex-col gap-8 mb-12">
        <div class="flex gap-2 flex-wrap">
            <Tag>Javascript</Tag>
            <Tag>Vue.js</Tag>
            <Tag>Nuxt</Tag>
            <Tag>SCSS</Tag>
            <Tag>C#</Tag>
            <Tag>.NET</Tag>
        </div>
        <p class="text-gray-400">
            Kimple is a educational platform that provides contents, resources and materials with topical projects to all the teachers and institutions. At Kimple I'm in charge of resolving issues, delivering new features and I was also part of many developed projects, one of the biggest was Kimple Krea, a brand new tool provided to the schools for the content creation
        </p>
        <img src="/kimple-1.png" alt="colors" class="w-full h-64 object-cover rounded-md">
        <img src="/kimple-4.webp" alt="colors" class="w-full h-64 object-cover object-top rounded-md">
        <p class="text-gray-400">
            I accomplished the creation of a tool integrated with multiple libraries to give the user the best experience, with tooltips, text editors, progress bars, auto-saving and different types of inputs.
        </p>
        <img src="/kimple-2.png" alt="colors" class="w-full h-64 object-cover rounded-md">
        <p class="text-gray-400">
            We also worked on a new feed to render the content with suggestions depending on user activity and popularity of content, integrated with a new search bar synchronized with browser URL to share the results across the devices.
        </p>
        <img src="/kimple-3.png" alt="colors" class="w-full h-64 object-cover rounded-md">
        <img src="/kimple-5.png" alt="colors" class="w-full h-64 object-cover rounded-md">
        <div class="flex justify-end gap-4">
            <a href="https://edukimple.com" target="_blank" rel="noreferrer noopener">
                <Button>
                    Visit
                </Button>
            </a>
        </div>
    </section>
</Layout>