---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Martin Pilaszek - Trello clone">
    <div class="flex justify-between items-center mb-4">
        <a class="underline text-gray-400" href="/">Back</a>
        <a class="underline text-gray-400" href="https://trello-vue-ten.vercel.app" target="_blank" rel="noreferrer noopener">Visit</a>
    </div>
    <section class="flex flex-col gap-8 mb-4">
        <p class="text-gray-400">
            A simple Trello clone created with Vue, Tailwind and Pinia. Integrated drag and drop functionality and local storage to store the data.
        </p>
        <img src="/trello-1.png" alt="trello" class="w-full h-72 object-cover">
        <img src="/trello-2.png" alt="colors" class="w-full h-64 object-cover">
        <img src="/trello-3.png" alt="colors" class="w-full h-64 object-cover">
    </section>
</Layout>