---
import Tag from "../../components/Tag.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Martin Pilaszek - Trello clone">
    <nav class="text-gray-400 bg-[#131313] py-6 flex justify-between flex-row gap-6 sticky top-0">
        <a class="underline text-gray-400" href="/">Back</a>
        <a class="underline text-gray-400" href="https://trello-vue-ten.vercel.app" target="_blank" rel="noreferrer noopener">Visit</a>
    </nav>
    <section class="flex flex-col gap-8 mb-12">
        <div class="flex gap-2">
            <Tag>Javascript</Tag>
            <Tag>Vue 3</Tag>
            <Tag>Pinia</Tag>
            <Tag>TailwindCSS</Tag>
        </div>
        <p class="text-gray-400">
            A simple Trello clone created with Vue, Tailwind and Pinia. Integrated drag and drop functionality and local storage to store the data.
        </p>
        <img src="/trello-1.png" alt="Trello" class="w-full h-64 object-cover">
        <img src="/trello-2.png" alt="Trello" class="w-full h-64 object-cover">
        <img src="/trello-3.png" alt="Trello" class="w-full h-64 object-cover">
    </section>
</Layout>