---
import '@fontsource-variable/epilogue';
import Navbar from "../components/Navbar.astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-xmlns="http://www.w3.org/1999/xhtml" data-xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hi👋 I'm Martin Pilaszek, a front-end developer with +2 years of experience, passionate by techonlogy, design and pretty web experiences." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/icon" href="/favicon.ico" />
		<meta property="og:image" content="./preview.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline>
		  document.addEventListener('astro:after-swap', () => {
			if (
			  localStorage.theme === 'dark' ||
			  (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
			  document.documentElement.classList.add('dark')
			  localStorage.setItem("theme", "dark")
			}
		  });
	
		  if (
			localStorage.theme === 'dark' ||
			(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
		  ) {
			document.documentElement.classList.add('dark');
			localStorage.setItem("theme", "dark")
		  } else {
			document.documentElement.classList.remove('dark');
			localStorage.setItem("theme", "light")
		  }
		</script>
	</head>
	<body class="bg-slate-100 dark:bg-[#131313]">
		<main class="w-11/12 max-w-[720px] mx-auto">
			<Navbar />
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		scroll-behavior: smooth;
	}
	html {
		font-family: 'Epilogue Variable', system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: #49494900;
	}
	::-webkit-scrollbar-thumb {
		background: #3d3d3d;
	}
</style>
